{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "flow-vars"
  ],
  "extends": ["standard"],
  "rules": {
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": [2, "before"],
    "flow-vars/define-flow-type": 2,
    "flow-vars/use-flow-type": 2
  }
}
